.titulo-principal{
   padding-left: 20px; 
   text-align: center;
}

#imglogo {
    height: 50px;
}

.logo {
    width:80px;
    position: absolute;
    top: 0px;
}


#banner { 
     width: 100%; /*largura*/
     margin-top: 20px;
}

.principal {
    background: #cccccc;
    padding: 30px;

}

.titulo-centralizado {
    text-align: center
}

p {     /*text-align para definir onde o texto vai ficar (centro, esquerda, direita, etc)*/
    text-align: center;
}

#missao{ /* # para pegar pela id */
    font-size: 20px
}

em strong {
    color: red;
}

.itens { /* . para pegar pelo class */
    font-style: italic;
}

.benefícios{
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block; /*Alinhamento dos elementos*/
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("bg.jpg"); /*para pegar uma imagem no css*/
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;

}


